<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>James on 1st Visitor Parking</title>
</head>
<body>
  <h1>Visitor Parking for James on 1st</h1>
  <h2>Login</h2>
  {{#if messages.error}}
    <p>{{messages.error}}</p>
  {{/if}}
  <form class="login-form" method="post" action="/api/users/login">
    <input name="email" id="email" type="text" placeholder="Email" required>
    <input name="password" id="password" type="password" placeholder="Password" required>
    <button type="submit">Login</button>
  </form>
  <p>New User?<a href="/register">Register</a></p>
</body>
</html>