<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>James on 1st Visitor Parking</title>
</head>
  <body>
    <h1>Visitor Parking for James on 1st</h1>
    <h2>Profile</h2>
    {{#if user.rows}}
      <p>Hi, {{ user.rows.[0].name }}</p>
    {{/if}}
    <h2>Visitors</h2>
    {{#each visitors}}
      <div class="visitor-card">
        <p>Name: {{ this.name }}</p>
        <button class="car-btn" id="{{ this.name }}">Add a car</button>
      </div>
    {{/each}}
    <a href="/newvisitor">New Visitor</a>
    <form action="api/users/logout?_method=DELETE" method="POST">
      <button type="submit">Logout</button>
    </form>
    <script type="text/javascript" src="../js/newCar.js"></script>
  </body>
</html>