<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>James on 1st Visitor Parking</title>
</head>
  <body>
    <h1>Visitor Parking for James on 1st</h1>
    <h2>Profile</h2>
    {{#if user.rows}}
      <p>Hi, {{ user.rows.[0].name }}</p>
    {{/if}}
    <a href="/newvisitor">New Visitor</a>
    <form action="api/users/logout?_method=DELETE" method="POST">
      <button type="submit">Logout</button>
    </form>
    <form action="api/visitors">
      <button type="submit">Get Visitors</button>
    </form>
    <script type="text/javascript" src="../controllers/visitors.js"></script>
  </body>
</html>